.ProductDetails {
	text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ProductDetails img{
    margin-top: 20px;
    max-width: 100%;
}

.ProductDetails h3{
    margin: 0;
}
