.Aside{
    padding: 20px;
}

.Aside > nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Aside > nav > a{
    font-size: 20px;
}

.Aside > nav > a.active{
    font-weight: bold;
}